{% extends './layout.html' %}

{% block content %}
    
        <form method='POST' action='/employees'>
            <div class='container form-group form-inline' style="border: 1px;">                
                <input name='firstName'class="form-control" value="First Name"/>                
                <input name='lastName' class="form-control"  value="Last Name"/>
                <input name='nicknames' class="form-control"  value="Nicknames"/>
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    
    <div>
       
        <ul>
            {% for employee in employees %}
                <li><a href="/employees/{{employee.id}}">{{ employee.fullName }}</a> {{employee.nicknames.length}} nicknames {% for nickname in nicknames %} nickname {% endfor %}</li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}