{% extends './layout.html' %}

{% block content %}
    {{ nickCount }}
    <form method='POST' action='/employees/{{employee.id}}?_method=put'>
        <label>First Name</label>
        <input name='firstName' value='{{employee.firstName}}'/>
        <label>Last Name</label>
        <input name='lastName' value='{{employee.lastName}}'/>
        <label>Nicknames</label>
        <input name='nicknames' value='{{employee.nicknames}}'/>
        <button>Submit</button>
    
    </form>
    <form method='POST' action='/employees/{{employee.id}}?_method=delete'>
        <button>Delete</button>

    </form>

{% endblock %}